<p>
  <h3>Dealer's cards:</h3>
  <ul>
    <img src="<%= @show_command_type == 'player' ? '/images/cards/cover.jpg' : CardToImageFileSrc(session[:dealer_card][0]) %>" />
    <% session[:dealer_card][1..-1].each do |card| %>
      <img src="<%= CardToImageFileSrc(card) %>" />
    <% end %>
  </ul>
</p>

<p>
  <h3>Player's cards:</h3>
  <ul>
    <% session[:player_card].each do |card| %>
      <img src="<%= CardToImageFileSrc(card) %>" />
    <% end %>
  </ul>
</p>

<div>
  <% if @show_command_type == 'player' %>
  <form action="/Game/Player/Hit" method="post">
    <button class="btn">Hit</button>
  </form>
  <form action="/Game/Player/Stay" method="post">
    <button class="btn">Stay</button>
  </form>
  <% end %>
  <% if @show_command_type == 'dealer' %>
  <form action="/Game/Dealer/Turn" method="post">
    <button class="btn">Dealer's next step</button>
  </form>
  <% end %>
  <% if @show_command_type == 'result' %>
  <form action="/Game/Result" method="post">
    <button class="btn">Result</button>
  </form>
  <% end %>
</div>

<p>
  <%= session[:username] + ", your current score is " + CalculateScore(session[:player_card]).to_s + "." %><br />
  <%= "You have $" + (session[:chips] + session[:bet]).to_s + " in total. You bet $" + session[:bet].to_s + " in this round." %>
</p>